.card {
  border: 1px solid #db8e3b;
  border-radius: 16px;
  padding: 12px 32px;
  background-color: #fed6ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  gap: 0.3rem;
}
.header {
  font-weight: 500;
}
.image {
  object-fit: cover;
  width: 80px;
  height: 100px;
}
